In [1]:
'''
@author : Satwik Ram K
created on : May 2020
'''
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
dataset = pd.read_csv('Iris.csv')

In [3]:
dataset.shape

(150, 6)

In [4]:
dataset.head(n = 10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Checking for null values

In [7]:
dataset.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [8]:
dataset = dataset.drop('Id', axis = 1)

In [9]:
dataset.shape

(150, 5)

In [10]:
dataset.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
dataset['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [12]:
replace_nums = {"Species": {"Iris-setosa":1}}
replace_nums1 = {"Species": {"Iris-versicolor": 2}}
replace_nums2 = {"Species": {"Iris-virginica": 3}}

In [13]:
dataset.replace(replace_nums, inplace = True)
dataset.replace(replace_nums1, inplace = True)
dataset.replace(replace_nums2, inplace = True)

In [15]:
dataset.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        1
1            4.9           3.0            1.4           0.2        1
2            4.7           3.2            1.3           0.2        1
3            4.6           3.1            1.5           0.2        1
4            5.0           3.6            1.4           0.2        1

In [16]:
x = dataset.drop('Species', axis = 1)

In [17]:
x.shape

(150, 4)

In [18]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [19]:
y = dataset['Species']

In [20]:
print(y.shape)
y.head()

(150,)

0    1
1    1
2    1
3    1
4    1
Name: Species, dtype: int64

# Splitting the data

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [23]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120,)
(30,)

# Normalizing the data

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [25]:
x_train = sc.fit_transform(x_train)

In [26]:
x_test = sc.transform(x_test)

In [27]:
print(x_train)

[[-1.47393679  1.22037928 -1.5639872  -1.30948358]
 [-0.13307079  3.02001693 -1.27728011 -1.04292204]
 [ 1.08589829  0.09560575  0.38562104  0.28988568]
 [-1.23014297  0.77046987 -1.21993869 -1.30948358]
 [-1.7177306   0.32056046 -1.39196294 -1.30948358]
 [ 0.59831066 -1.25412249  0.72966956  0.95628954]
 [ 0.72020757  0.32056046  0.44296246  0.42316645]
 [-0.74255534  0.99542457 -1.27728011 -1.30948358]
 [-0.98634915  1.22037928 -1.33462153 -1.30948358]
 [-0.74255534  2.34515281 -1.27728011 -1.44276436]
 [-0.01117388 -0.80421307  0.78701097  0.95628954]
 [ 0.23261993  0.77046987  0.44296246  0.55644722]
 [ 1.08589829  0.09560575  0.5576453   0.42316645]
 [-0.49876152  1.8952434  -1.39196294 -1.04292204]
 [-0.49876152  1.44533399 -1.27728011 -1.30948358]
 [-0.37686461 -1.47907719 -0.01576889 -0.24323741]
 [ 0.59831066 -0.57925837  0.78701097  0.42316645]
 [ 0.72020757  0.09560575  1.01637665  0.82300877]
 [ 0.96400139 -0.12934896  0.38562104  0.28988568]
 [ 1.69538284  1.22037928  1.36042516  1.75597417]
 [-0.13307079 -0.35430366  0.2709382   0.15660491]
 [ 2.18297047 -0.12934896  1.64713226  1.22285108]
 [-0.2549677  -0.12934896  0.44296246  0.42316645]
 [-0.86445224  0.99542457 -1.33462153 -1.30948358]
 [ 2.30486738 -0.57925837  1.70447368  1.08957031]
 [-0.01117388 -0.80421307  0.21359679 -0.24323741]
 [-0.74255534  0.77046987 -1.33462153 -1.30948358]
 [-0.98634915  0.99542457 -1.39196294 -1.17620281]
 [-0.86445224  1.67028869 -1.04791443 -1.04292204]
 [-0.98634915 -2.37889602 -0.13045173 -0.24323741]
 [ 0.59831066 -0.80421307  0.67232814  0.82300877]
 [-1.23014297  0.77046987 -1.04791443 -1.30948358]
 [-0.98634915 -0.12934896 -1.21993869 -1.30948358]
 [-0.86445224  0.54551516 -1.16259727 -0.90964127]
 [-0.2549677  -0.80421307  0.2709382   0.15660491]
 [-0.86445224  0.77046987 -1.27728011 -1.30948358]
 [-0.13307079 -0.12934896  0.2709382   0.02332414]
 [ 2.30486738  1.67028869  1.70447368  1.35613185]
 [-1.47393679  0.32056046 -1.33462153 -1.30948358]
 [ 0.47641375 -0.35430366  0.32827962  0.15660491]
 [-0.13307079 -1.25412249  0.72966956  1.08957031]
 [-0.37686461  2.57010752 -1.33462153 -1.30948358]
 [ 0.23261993 -0.12934896  0.61498672  0.82300877]
 [-0.01117388 -0.80421307  0.78701097  0.95628954]
 [ 0.23261993 -1.9289866   0.15625537 -0.24323741]
 [-0.49876152 -0.12934896  0.44296246  0.42316645]
 [ 0.47641375  0.77046987  0.95903523  1.48941263]
 [-0.37686461 -1.7040319   0.15625537  0.15660491]
 [-0.49876152  1.8952434  -1.16259727 -1.04292204]
 [-0.98634915 -1.7040319  -0.24513457 -0.24323741]
 [ 0.72020757 -0.80421307  0.90169381  0.95628954]
 [-0.98634915  0.54551516 -1.33462153 -1.30948358]
 [-0.98634915  0.32056046 -1.44930436 -1.30948358]
 [-0.37686461 -1.47907719  0.04157253 -0.10995664]
 [ 1.08589829 -0.12934896  0.72966956  0.68972799]
 [-1.10824606  0.09560575 -1.27728011 -1.44276436]
 [-0.01117388 -0.57925837  0.78701097  1.6226934 ]
 [-0.98634915  0.77046987 -1.27728011 -1.30948358]
 [-0.98634915  0.99542457 -1.21993869 -0.7763605 ]
 [ 0.11072303  0.32056046  0.61498672  0.82300877]
 [-0.86445224 -1.25412249 -0.41715882 -0.10995664]
 [ 1.32969211  0.32056046  1.13105949  1.48941263]
 [ 0.23261993 -0.80421307  0.78701097  0.55644722]
 [ 0.35451684 -1.02916778  1.07371807  0.28988568]
 [ 2.30486738 -0.12934896  1.36042516  1.48941263]
 [-0.37686461 -1.25412249  0.15625537  0.15660491]
 [-1.7177306  -0.35430366 -1.33462153 -1.30948358]
 [-1.83962751 -0.12934896 -1.50664578 -1.44276436]
 [ 0.23261993 -1.9289866   0.72966956  0.42316645]
 [ 1.69538284  0.32056046  1.30308374  0.82300877]
 [-1.47393679  0.09560575 -1.27728011 -1.30948358]
 [-0.86445224  0.99542457 -1.33462153 -1.17620281]
 [-1.7177306  -0.12934896 -1.39196294 -1.30948358]
 [ 0.59831066 -1.25412249  0.67232814  0.42316645]
 [ 0.59831066  0.77046987  1.07371807  1.6226934 ]
 [-1.47393679  0.77046987 -1.33462153 -1.17620281]
 [ 1.2077952  -0.12934896  1.01637665  1.22285108]
 [ 0.59831066  0.54551516  1.30308374  1.75597417]
 [-1.35203988  0.32056046 -1.39196294 -1.30948358]
 [ 0.35451684 -0.35430366  0.5576453   0.28988568]
 [ 0.84210448 -0.57925837  0.50030388  0.42316645]
 [ 0.47641375 -0.57925837  0.61498672  0.82300877]
 [ 1.45158902  0.32056046  0.5576453   0.28988568]
 [ 0.72020757  0.32056046  0.90169381  1.48941263]
 [-0.86445224  1.67028869 -1.21993869 -1.30948358]
 [ 1.32969211  0.09560575  0.95903523  1.22285108]
 [ 0.11072303 -0.12934896  0.2709382   0.42316645]
 [ 0.84210448 -0.12934896  0.84435239  1.08957031]
 [-0.13307079 -1.02916778 -0.13045173 -0.24323741]
 [-0.74255534 -0.80421307  0.09891395  0.28988568]
 [ 0.35451684 -0.12934896  0.50030388  0.28988568]
 [-1.5958337  -1.7040319  -1.39196294 -1.17620281]
 [ 0.96400139 -0.35430366  0.50030388  0.15660491]
 [-0.37686461 -1.02916778  0.38562104  0.02332414]
 [-0.62065843  1.44533399 -1.27728011 -1.30948358]
 [-0.2549677  -0.12934896  0.21359679  0.15660491]
 [ 1.81727975 -0.35430366  1.475108    0.82300877]
 [ 1.08589829  0.54551516  1.13105949  1.22285108]
 [-0.86445224  1.44533399 -1.27728011 -1.04292204]
 [-1.10824606 -1.47907719 -0.24513457 -0.24323741]
 [ 1.08589829  0.54551516  1.13105949  1.75597417]
 [ 1.69538284 -0.12934896  1.18840091  0.55644722]
 [-1.10824606  0.09560575 -1.27728011 -1.44276436]
 [ 1.08589829  0.09560575  1.07371807  1.6226934 ]
 [-1.10824606 -0.12934896 -1.33462153 -1.30948358]
 [ 1.32969211  0.09560575  0.67232814  0.42316645]
 [ 1.93917666 -0.57925837  1.36042516  0.95628954]
 [ 0.59831066 -0.35430366  1.07371807  0.82300877]
 [-0.13307079 -0.57925837  0.21359679  0.15660491]
 [ 0.84210448 -0.12934896  1.01637665  0.82300877]
 [ 0.59831066 -1.7040319   0.38562104  0.15660491]
 [ 0.72020757 -0.35430366  0.32827962  0.15660491]
 [-0.2549677  -0.57925837  0.67232814  1.08957031]
 [ 0.11072303 -0.12934896  0.78701097  0.82300877]
 [-0.49876152  0.77046987 -1.16259727 -1.30948358]
 [ 0.35451684 -0.57925837  0.15625537  0.15660491]
 [-1.10824606 -1.25412249  0.44296246  0.68972799]
 [-0.01117388  2.1201981  -1.44930436 -1.30948358]
 [-0.01117388 -1.02916778  0.15625537  0.02332414]
 [ 1.57348593 -0.12934896  1.24574233  1.22285108]]

In [28]:
from sklearn.linear_model import LogisticRegression

# If we want to use Softmax Regression, we have to pass multinomial as a paratmeter to Logistic Regrssion

In [29]:
lreg = LogisticRegression(multi_class="multinomial",solver="lbfgs", C=10)

In [30]:
lreg.fit(x_train, y_train)

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
y_pred = lreg.predict(x_test)

In [32]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [33]:
score = accuracy_score(y_test, y_pred)

In [34]:
cm = confusion_matrix(y_test, y_pred)

In [35]:
cm

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]], dtype=int64)

In [37]:
score*100

100.0

# Saving the model

In [38]:
from sklearn.externals import joblib

C:\Users\SINCHANA\anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [40]:
joblib.dump(lreg, 'softmax.sav')

['softmax.sav']

In [41]:
joblib.dump(sc, 'scaler.sav')

['scaler.sav']

In [42]:
model = joblib.load('softmax.sav')

In [43]:
y_pred1 = model.predict(x_test)

In [44]:
y_pred1

array([2, 1, 3, 2, 2, 1, 2, 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 2, 2, 3, 1, 3,
       1, 3, 3, 3, 3, 3, 1, 1], dtype=int64)

In [45]:
y_pred

array([2, 1, 3, 2, 2, 1, 2, 3, 2, 2, 3, 1, 1, 1, 1, 2, 3, 2, 2, 3, 1, 3,
       1, 3, 3, 3, 3, 3, 1, 1], dtype=int64)