<a href="https://colab.research.google.com/github/Satwikram/Machine-Learning-Notebooks/blob/master/DecisionTreeClassifier/Credit_card_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
"""
@Author : Satwik Ram K

"""

from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"satwikram","key":"06c98063bdd0e68efaf2312bfe2c72df"}'}

In [9]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [10]:
! cp kaggle.json ~/.kaggle/

In [11]:
! chmod 600 ~/.kaggle/kaggle.json

In [12]:
! kaggle datasets download -d mlg-ulb/creditcardfraud

Downloading creditcardfraud.zip to /content
 94% 62.0M/66.0M [00:01<00:00, 42.3MB/s]
100% 66.0M/66.0M [00:01<00:00, 47.1MB/s]

In [13]:
!unzip /content/creditcardfraud.zip

Archive:  /content/creditcardfraud.zip
  inflating: creditcard.csv

In [14]:
#Importing Datasets
import numpy as np
import pandas as pd

In [15]:
dataset = pd.read_csv('/content/creditcard.csv')

In [16]:
dataset.head(10)

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0
5   2.0 -0.425966  0.960523  1.141109  ...  0.253844  0.081080    3.67      0
6   4.0  1.229658  0.141004  0.045371  ...  0.034507  0.005168    4.99      0
7   7.0 -0.644269  1.417964  1.074380  ... -1.206921 -1.085339   40.80      0
8   7.0 -0.894286  0.286157 -0.113192  ...  0.011747  0.142404   93.20      0
9   9.0 -0.338262  1.119593  1.044367  ...  0.246219  0.083076    3.68      0

[10 rows x 31 columns]

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [18]:
dataset.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [19]:
dataset.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.919560e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [20]:
dataset.shape

(284807, 31)

In [21]:
x, y = dataset['Class'].value_counts()

In [22]:
x/ 284807 * 100

99.82725143693798

In [23]:
y/ 284807 * 100

0.1727485630620034

In [24]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

In [25]:
dataset['scaled_time'] = rs.fit_transform(dataset['Time'].values.reshape(-1,1))

In [26]:
dataset['scaled_amount'] = rs.fit_transform(dataset['Amount'].values.reshape(-1,1))

In [27]:
dataset.drop(columns= ['Amount', 'Time'], axis = 1, inplace = True)

In [28]:
dataset.head()

         V1        V2        V3  ...  Class  scaled_time  scaled_amount
0 -1.359807 -0.072781  2.536347  ...      0    -0.994983       1.783274
1  1.191857  0.266151  0.166480  ...      0    -0.994983      -0.269825
2 -1.358354 -1.340163  1.773209  ...      0    -0.994972       4.983721
3 -0.966272 -0.185226  1.792993  ...      0    -0.994972       1.418291
4 -1.158233  0.877737  1.548718  ...      0    -0.994960       0.670579

[5 rows x 31 columns]

In [29]:
scaled_amount = dataset['scaled_amount']
scaled_time = dataset['scaled_time']

In [30]:
dataset.drop(columns = ['scaled_time', 'scaled_amount'], axis = 1, inplace = True)

In [31]:
dataset.insert(0, 'Time', scaled_time)
dataset.insert(1, 'Amount', scaled_amount)

In [32]:
dataset.head()

       Time    Amount        V1        V2  ...       V26       V27       V28  Class
0 -0.994983  1.783274 -1.359807 -0.072781  ... -0.189115  0.133558 -0.021053      0
1 -0.994983 -0.269825  1.191857  0.266151  ...  0.125895 -0.008983  0.014724      0
2 -0.994972  4.983721 -1.358354 -1.340163  ... -0.139097 -0.055353 -0.059752      0
3 -0.994972  1.418291 -0.966272 -0.185226  ... -0.221929  0.062723  0.061458      0
4 -0.994960  0.670579 -1.158233  0.877737  ...  0.502292  0.219422  0.215153      0

[5 rows x 31 columns]

In [33]:
fraud_df = dataset.loc[dataset['Class'] == 1]
non_fraud_df = dataset.loc[dataset['Class'] == 0][:492]

In [34]:
normal_distributed_df = pd.concat([fraud_df, non_fraud_df])

In [35]:
# Shuffle dataframe rows
new_df = normal_distributed_df.sample(frac=1, random_state=42)

In [36]:
new_df.head()

            Time    Amount        V1  ...       V27       V28  Class
121    -0.994079 -0.179976 -0.427191  ...  0.102549 -0.116571      0
248296  0.812780 -0.307413 -0.613696  ...  0.488410  0.292345      1
239    -0.993104 -0.027947  1.171439  ...  0.008472  0.015492      0
239501  0.768888  3.007895 -6.682832  ... -0.054988  0.082337      1
143336  0.006967  3.226717 -6.713407  ...  1.649906 -0.394905      1

[5 rows x 31 columns]

In [37]:
X = new_df.drop('Class', axis=1)
y = new_df['Class']

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 388)

In [39]:
X_train = X_train.values
X_test = X_test.values
y_train = y_train.values
y_test = y_test.values

In [40]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [41]:
classifiers = {
    "SGDClassifier" : SGDClassifier(),
    "LogisiticRegression": LogisticRegression(),
    "KNearest": KNeighborsClassifier(),
    "Support Vector Classifier": SVC(),
    "DecisionTreeClassifier": DecisionTreeClassifier()
}

In [42]:
from sklearn.model_selection import cross_val_score

In [43]:
for key, classifier in classifiers.items():
  classifier.fit(X_train, y_train)
  training_score = cross_val_score(classifier, X_train, y_train, cv=5)
  print("Classifiers: ", classifier.__class__.__name__, "Has a training score of", round(training_score.mean(), 2) * 100, "% accuracy score")
  print("---"*30)

Classifiers:  SGDClassifier Has a training score of 98.0 % accuracy score
------------------------------------------------------------------------------------------
Classifiers:  LogisticRegression Has a training score of 98.0 % accuracy score
------------------------------------------------------------------------------------------
Classifiers:  KNeighborsClassifier Has a training score of 94.0 % accuracy score
------------------------------------------------------------------------------------------
Classifiers:  SVC Has a training score of 95.0 % accuracy score
------------------------------------------------------------------------------------------
Classifiers:  DecisionTreeClassifier Has a training score of 100.0 % accuracy score
------------------------------------------------------------------------------------------

In [44]:
import joblib

In [49]:
joblib.dump(classifier, 'model.sav')

['model.sav']

In [50]:
my_model = joblib.load('/content/model.sav')

In [53]:
y_pred = my_model.predict(X_test)

In [54]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [55]:
score = accuracy_score(y_test, y_pred)

In [56]:
score*100

100.0

In [57]:
cm = confusion_matrix(y_test, y_pred)

In [58]:
cm

array([[ 93,   0],
       [  0, 104]])

In [59]:
joblib.dump(rs, 'scaler.sav')

['scaler.sav']